body {
    background-color: #000000;
    margin: 0;
}

#wrapper {
    position: relative;
}

#GameScreen {
	position: absolute;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	overflow: hidden;
}

/*
#btn1 {
	padding: 10px 25px;
}
*/